.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-header {
 font-family: Impact;
 color: #0B173B;

}

.screenShot {width: 1000px;}

.screenList {width: 800px;}