<html ng-app="myApp">
<head>
	<title>Angular Tutorials</title>
	
	<link rel="stylesheet" href="tutorials.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<style>
	
</style>
<body class="list-group" ng-controller="TutorialController as links">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
			<span class="icon-bar"></span>
         
			</button>
          
		 <a class="navbar-brand" href="#">Tutorials</a>
		 <a class="navbar-brand" href="blog.html">Blog</a>
		
		 
		 <a href="http://arfriz01.github.io"><button style=" margin-top: 10px; float: right;" type="button" class="btn btn-default" aria-label="Right Align">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</button></a>
	
			<!--Search Bar-->
			<div class="col-sm-4" style="margin-top: 10px; float: right;">
				<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
				</span>
				</div>
			</div>
			</div>
 </nav>
 
 <div class="jumbotron">
	<div class="container">
		<h1>AngularJS Tutorials</h1>
		
		<p>Here are some great tutorials to get you started</p>
	</div>
</div>
	 <div class="row">
			<div class="col-md-6">			
				<ul class="list-unstyled">
					<li ng-repeat="links in links.tutorials | filter:query | orderBy: orderProp">
						<img src="{{links.image}}"><br>
					</li>
				</ul>
			</div>
			<div class="col-md-8">	
				<ul class="list-unstyled">
						<li ng-repeat="links in links.tutorials | filter:query | orderBy: orderProp">
							<h3>
								{{links.title}}
							</h3>
								<h4>-{{links.author}}</h4>
								<a href="{{links.url}}" target="_blank">{{links.url}}</a> <br>
						</li>
				</ul>
			</div>
		</div> 

</body>
</html>